/* _content/SleighList/Views/Home/Index.cshtml.rz.scp.css */
/******************* Fornmulário de Login *******************/
.bk-login[b-acp5oohxnx] {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100wh;
  height: calc(100vh - 96px);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;

  
}
/* Estilo para a imagem */
.img[b-acp5oohxnx] {
    width: 1500px;   /* Definindo a largura da imagem */
    height: auto;   /* Mantém a proporção original */
    display: block; /* Necessário para centralizar */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    
  }

  
 /* Estilo para o rodapé */
.rodape[b-acp5oohxnx] {
    width: 50%;           /* Faz o rodapé ocupar toda a largura disponível */
    height: 60px;          /* Define uma altura mínima para o rodapé */
    display: flex;         /* Usa o Flexbox */
    justify-content: center;  /* Centraliza o conteúdo horizontalmente */
    align-items: center;       /* Centraliza o conteúdo verticalmente */
    background-color: #333;   /* Cor de fundo (ajuste conforme necessário) */
    color: #fff;              /* Cor do texto (ajuste conforme necessário) */
  }
  

.form-box[b-acp5oohxnx] {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* 
  align-items: flex-start;
  
  width: 80vw;
  height: 80vh;
  padding: 20px;
  max-width: 900px;
  min-width: 320px;
  max-height: 670px;
  min-height: 400px;
  background-color: transparent;
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(5px);
  border-radius: 30px; */

  width: 70%;
  height: 70vh;
  padding: 50px;
  background-color: #ffffff90;
  backdrop-filter: blur(10px);
  border-radius: 35px;
  box-shadow: 1px 2px 5px rgba(102, 255, 0, 0.3);
  overflow: auto;
}

.form-box h1[b-acp5oohxnx] {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}


.formulario .frm-label[b-acp5oohxnx] {
  font-weight: bold;
  margin-bottom: 10px;
}
.formulario .frm-input[b-acp5oohxnx] {
  height: 50px;
  padding: 10px;
  font-size: 18px;
  color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  outline: none;  
  border: none;
}


.formulario .frm-input:first-of-type[b-acp5oohxnx] {
  margin-bottom: 40px;
}

.formulario .esqueci-senha[b-acp5oohxnx] {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: right;
  color: #26333D;
  font-size: 15px;
  font-weight: 500;
}

.formulario .btn-entrar[b-acp5oohxnx] {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #3a0000;
  border-radius: 10px;
  transition: background-color .4s;
  border: none;
}

.formulario .btn-entrar:hover[b-acp5oohxnx] {
  background-color: #2fd6cb;
  border: none;
  color: black;

}
/* _content/SleighList/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-3qslldto7v] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-3qslldto7v] {
  color: #0077cc;
}

.btn-primary[b-3qslldto7v] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-3qslldto7v], .nav-pills .show > .nav-link[b-3qslldto7v] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-3qslldto7v] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-3qslldto7v] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-3qslldto7v] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-3qslldto7v] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-3qslldto7v] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
