<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Vinculando o arquivo CSS externo -->
  <link rel="stylesheet" href="css/estilos.css">
</head>
<body>

  <!-- ************ FORMULÁRIO LOGIN ************ -->
  <!-- Caminho da imagem ajustado para a pasta "imagem" -->
  <img class="img" src="imagem/Group 26.png" alt="gatinho">
 
  <article class="bk-login">
    <div class="form-box">
      <h1>Acesse Sua Conta</h1>
      <form class="formulario" style="width: 60%; display: flex; flex-direction: column;" method="post" action="@Url.Action("Logar")">
        <label class="frm-label" for="email">E-mail</label>
        <input type="email" id="email" class="frm-input" placeholder=" " name="Email">
        <label class="frm-label" for="senha">Senha</label>
        <input type="password" name="Senha" id="senha" class="frm-input" placeholder=" ">
        <a href="#" class="esqueci-senha">Esqueci minha senha</a>
        <button type="submit" class="btn-entrar">Acessar</button>
      </form>
    
    </div>
    
  </article>
  

</body>
</html>
