<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SleighList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SleighList.styles.css" asp-append-version="true" />
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        .content {
            min-height: 100%;
            padding-bottom: 100px; /* Espaço para o footer */
        }

     footer {
    background-color: rgb(99, 3, 3);     /* Cor de fundo do footer */
    color: white;               /* Cor do texto no footer */
    text-align: center;         /* Alinha o texto no centro do footer */
    padding: 20px;              /* Adiciona 20px de espaçamento interno (padding) ao redor do conteúdo do footer */
    position: relative;         /* Define a posição do footer como relativa (padrão) */
    bottom: 0;                  /* Garante que o footer esteja na parte inferior do seu elemento pai */
    width: 100%;                /* Faz com que o footer ocupe toda a largura da tela */
    height: 100px;              /* Altura do footer */
}




    </style>
</head>
<body>
    <div class="content">
        @RenderBody()
    </div>

    <footer>
        <p>© 2024 - SEDUC - Agenda Natal</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
